<!DOCTYPE html>
<html lang="fr" dir="ltr" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>{% block titleBrowser %}{{ application_name }}{% endblock titleBrowser %}</title>

        <meta name="viewport" content="initial-scale=1.0">
        <script>(function(e){e.className=e.className.replace(/(\s|^)no-js(\s|$)/,'js')})(document.documentElement)</script>
        <!--[if lt IE 9]><script src="{{ asset('/bundles/bleuebuzzintegration/js/ie/html5shiv.js') }}"></script><![endif]-->

        {% block stylesheets %}
            {% stylesheets filter='compass, yui_css'
                '@BleuebuzzIntegrationBundle/Resources/Compass/sass/sass/main.scss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>

    <body>
        {% block header %}
            <header class="header">
                <div class="topbar">
                    <div class="wrapper">
                        {% block brand %}
                            <div id="brand"><a href="{{ path('homepage') }}">{{ application_name }}</a></div>
                        {% endblock brand %}

                        {% block language %}
                            {% if use_language %}
                                {{ render(controller('BleuebuzzIntegrationBundle:Integration:bleuebuzzLanguage', { 'route': app.request.get('_route'), 'params': app.request.get('_route_params') })) }}
                            {% endif %}
                        {% endblock language %}

                        {% if use_fos_user %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <span class="welcome"><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |</span>
                                <a class="logout" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            {% else %}
                                <a class="login" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                        {% endif %}

                        {% block breadcrumb %}
                            {% if use_breadcrumb %}
                                {% if entity is not defined %}
                                    {% set entity = false %}
                                {% endif %}
                                {{ render(controller('BleuebuzzIntegrationBundle:Integration:bleuebuzzBreadcrumb', { 'entity': entity, 'route': app.request.get('_route') })) }}
                            {% endif %}
                        {% endblock breadcrumb %}

                        {% block nav %}
                            {% set navRoutes = navRoutes|default({}) %}
                            {% set actionRoutes = actionRoutes|default({}) %}
                            {{ render(controller('BleuebuzzIntegrationBundle:Integration:bleuebuzzNavigation', { 'navRoutes': navRoutes, 'active': app.request.get('_route'), 'actionRoutes': actionRoutes })) }}
                        {% endblock nav %}
                    </div>
                </div>

                {% block flash %}
                    {% set i = 0 %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for key, message in messages %}
                            <div class="flash {{ type }}">
                                <input class="flash-state outsight" type="checkbox" id="flash-{{i}}" onclick="" />
                                <div class="flash-body">
                                    <div class="wrapper">
                                        {{ message|trans }}
                                        <label class="flash-close" for="flash-{{i}}" aria-hidden>×</label>
                                    </div>
                                </div>
                            </div>
                          {% set i = i + 1 %}
                        {% endfor %}
                    {% endfor %}
                {% endblock flash %}

            </header>
        {% endblock header %}

        {% block body %}
            <div class="body">
                <div class="wrapper">
                    {% block fos_user_content %}{% endblock fos_user_content %}
                    {% block mainContent %}
                        {% block titleContent %}{% endblock titleContent %}
                    {% endblock mainContent %}
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
           <footer class="footer wrapper">
               <div class="wrapper"></div>
           </footer>
        {% endblock footer %}

        {% block javascripts %}
            {% javascripts filter='yui_js'
                '@BleuebuzzIntegrationBundle/Resources/public/js/jquery/*'
                '@BleuebuzzIntegrationBundle/Resources/public/js/*'
                '@BleuebuzzIntegrationBundle/Resources/public/js/action/*'
                '@BleuebuzzIntegrationBundle/Resources/public/js/app/*'
                '@BleuebuzzIntegrationBundle/Resources/public/js/ie/*'
                '@BleuebuzzIntegrationBundle/Resources/public/js/widget/*'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

            {% if use_fos_router %}
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endif %}
        {% endblock javascripts %}

    </body>
</html>