{% extends "BleuebuzzIntegrationBundle::bleuebuzzLayout.html.twig" %}

{% block stylesheets %}
  {% stylesheets filter='compass, yui_css'
    '@BleuebuzzIntegrationBundle/Resources/Compass/sass/sass/portfolio.scss'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock stylesheets %}

{% block mainContent %}
  <div class="wrapper">
    <h1>PlastiCSS</h1>
    <h2>Portfolio</h2>

    <h3>Grid</h3>
    <div class="grid">
      <div class="grid__cell --span-8 --medium-span-12">
        <img src="{{ asset('/bundles/bleuebuzzintegration/img/portfolio/Wall-E-l.jpg') }}" align="Wall-E" />

      </div><div class="grid__cell --span-4 --medium-span-12">
        <div class="grid">
          <div class="grid__cell --span-12 --medium-span-6 --small-span-12">
            <img src="{{ asset('/bundles/bleuebuzzintegration/img/portfolio/Wall-E-l.jpg') }}" align="Wall-E" />

          </div><div class="grid__cell --span-12 --medium-span-6 --small-span-12">
            <img src="{{ asset('/bundles/bleuebuzzintegration/img/portfolio/Wall-E-l.jpg') }}" align="Wall-E" />

          </div>
        </div>
      </div>
    </div>

    <h3>Button</h3>
    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
        <button data-icon="&#xF111;" class="button">button</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF111;" class="button"></button>

      </div><div class="grid__cell --span-8">
        <button class="button --hover">hover</button>
        <button class="button --active">active</button>
        <button class="button --focus">focus</button>
        <button class="button --disabled">disabled</button>

      </div>
    </div>

    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
      <button data-icon="&#xF164;" class="button --primary">primary</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF164;" class="button --primary"></button>

      </div><div class="grid__cell --span-8">
      <button class="button --primary --hover">hover</button>
      <button class="button --primary --active">active</button>
      <button class="button --primary --focus">focus</button>
      <button class="button --primary --disabled">disabled</button>

      </div>
    </div>

    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
      <button data-icon="&#xF067;" class="button --safe">safe</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF067;" class="button --safe"></button>

      </div><div class="grid__cell --span-8">
      <button class="button --safe --hover">hover</button>
      <button class="button --safe --active">active</button>
      <button class="button --safe --focus">focus</button>
      <button class="button --safe --disabled">disabled</button>

      </div>
    </div>

    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
      <button data-icon="&#xF068;" class="button --risky">risky</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF068;" class="button --risky"></button>

      </div><div class="grid__cell --span-8">
      <button class="button --risky --hover">hover</button>
      <button class="button --risky --active">active</button>
      <button class="button --risky --focus">focus</button>
      <button class="button --risky --disabled">disabled</button>

      </div>
    </div>

    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
      <button data-icon="&#xF00D;" class="button --fatal">fatal</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF00D;" class="button --fatal"></button>

      </div><div class="grid__cell --span-8">
      <button class="button --fatal --hover">hover</button>
      <button class="button --fatal --active">active</button>
      <button class="button --fatal --focus">focus</button>
      <button class="button --fatal --disabled">disabled</button>

      </div>
    </div>

    <div class="grid ns-flow">
      <div class="grid__cell --span-3 ns-center">
      <button data-icon="&#xF004;" class="button --tender">tender</button>

      </div><div class="grid__cell ns-center">
        <button data-icon="&#xF004;" class="button --tender"></button>

      </div><div class="grid__cell --span-8">
      <button class="button --tender --hover">tender</button>
      <button class="button --tender --active">tender</button>
      <button class="button --tender --focus">tender</button>
      <button class="button --tender --disabled">tender</button>

      </div>
    </div>

    <h4>--block</h4>
    <p>
      <button class="button --block">block</button>
    </p>

    <h3>Form</h3>
    <h4>input</h4>
    <input type="text" class="input" /> <button class="button --primary">ok</button>

    <h3>Menu</h3>
    <ul class="menu">
      <li class="menu__item">item</li>
      <li class="menu__item">item</li>
      <li class="menu__item">item</li>
    </ul>
  </div>
{% endblock mainContent %}