$button--color-neutral:   $color-gray!default;
$button--color-primary:   $color-blue!default;
$button--color-safe:      $color-green!default;
$button--color-risky:     $color-yellow!default;
$button--color-fatal:     $color-red!default;
$button--color-tender:    $color-pink!default;
$button--color-disabled:  #DDD;

$button--outline: 0 0 0 3px rgba(127,127,127,.3);
.button {
  @extend %border-radius--small;

  background: $button--color-neutral;
  color: #FFF;
  padding: .2em .8em;

  &:focus,
  &.\--focus {
    @include -box-shadow($button--outline);
    outline: none;
  }

  &:hover,
  &.\--hover {
    @include -box-shadow(inset 0 0 .5em rgba(0,0,0,.2));
    outline: none;
    text-shadow: 0 0 .25em rgba(0,0,0,.2);
    &:focus,
    &.\--focus {
      @include -box-shadow(inset 0 0 .5em rgba(0,0,0,.2), $button--outline);
    }
  }

  &:active,
  &.\--active {
    @include -box-shadow(inset 0 0 1em rgba(0,0,0,.2));
    outline: none;
    text-shadow: 0 0 .5em rgba(0,0,0,.4);
    &:focus,
    &.\--focus {
      @include -box-shadow(inset 0 0 1em rgba(0,0,0,.2), $button--outline);
    }
  }

  &.\--primary  {
    background-color: $button--color-primary;
  }

  &.\--tender {
    background-color: $button--color-tender;
  }

  &.\--safe  {
    background-color: $button--color-safe;
  }

  &.\--risky {
    background-color: $button--color-risky;
  }

  &.\--fatal {
    background-color: $button--color-fatal;
  }

  &.\--disabled {
    @include -box-shadow(none);
    background-color: $button--color-disabled;
    cursor: default;
    text-shadow: none;
  }
}