$border-radius:         3px!default;
$border-radius--small:  2px!default;
$border-radius--big:    6px!default;

%border-radius {
  @include -border-radius($border-radius);
}
%border-radius--small {
  @include -border-radius($border-radius--small);
}
%border-radius--big {
  @include -border-radius($border-radius--big);
}