$input--color:      $color-gray!default;
$input--background: #FFF!default;

$button--color-primary:   $color-blue!default;
$button--color-safe:      $color-green!default;
$button--color-risky:     $color-yellow!default;
$button--color-fatal:     $color-red!default;
$button--color-tender:    $color-pink!default;
$button--color-disabled:  #DDD;

$input--outline: 0 0 0 3px rgba(127,127,127,.3);
.input {
  @extend %border-radius--small;
  @include -transition(all .2s);

  @if relevant($input--background, #FFF) {
    background: $input--background;
  }
  border: 1px solid $button--color-neutral;
  color: $global--color;
  padding: .2em .4em;

  &:focus,
  &.\--focus,
  &:active,
  &.\--active {
    outline: none;
    @include -box-shadow(inset 0 0 .5em rgba(0,0,0,.2), $button--outline);
  }

  &.\--required,
  &[required] {
    &.\--invalid {
      border-color: $button--color-fatal;
    }
  }

  &.\--disabled {
    border-color: $button--color-disabled;
    cursor: default;
  }
}