@mixin hold-float($extend: '%plasticss__mixin__hold-float') {
  @include mixin($extend) {
    @if browser--lt(ie, 8) {
      *zoom: 1;
    }
    &:after {
      clear:    both;
      content:  '\2060';
      display:  block;
      height:   0;
    }
  }
}

// !placeholders
@if needed('mixin/hold-float') {
  %plasticss__mixin__hold-float {
    @include hold-float(false);
  }
}