@mixin hold-margin($side: both, $extend: '%plasticss__mixin__hold') {
  $selector: $side;
  @if $side == both {
    $selector: '&:before, &:after';
  }
  @else if $side == top {
    $selector: '&:before';
  }
  @else if $side == bottom {
    $selector: '&:after';
  }

  @if $selector {
    #{$selector} {
      @include mixin($extend) {
        content:  '\2060';
        display:  block;
        height:   0;
      }
    }
  }
}

// !placeholders
@if needed('mixin/hold-margin') {
  %plasticss__mixin__hold {
    @include hold-margin('&', false);
  }
}