@mixin outsight($extend: '%plasticss__mixin__outsight') {
  @include mixin($extend) {
    border: none;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

// !placeholders
@if needed('mixin/outsight') {
  %plasticss__mixin__outsight {
    @include outsight(false);
  }
}