@mixin scroll($way: y, $alt: auto) {
  @if $way == y {
    overflow-x: $alt;
    overflow-y: scroll;
    @if browser--lt(firefox, 1 5) {
      overflow: -moz-scrollbars-vertical;
    }
  }
  @if $way == x {
    overflow-y: $alt;
    overflow-x: scroll;
    @if browser--lt(firefox, 3 5) {
      overflow: -moz-scrollbars-horizontal;
    }
  }
}