$color-gray:      #888!default;
$color-blue:      #4090D8!default;
$color-green:     #40B870!default;
$color-pink:      #F07090!default;
$color-red:       #E04048!default;
$color-yellow:    #F8B030!default;
$color-orange:    #F07830!default;