//$color-blue: #0D6CD1;
//$color-pink: #ff488f;
//$color-blue: #095a9f;
$color-gray:      #888;
$color-blue:      #4090D8;
$color-green:     #40B870;
$color-pink:      #F07090;
$color-red:       #E04048;
$color-yellow:    #F8B030;

$plasticss--normalMediaWidth: 960px;
$plasticss--useMediaDevice:   false;