.menu-slide {
  @extend .menu;
}
.menu-slide__item {
  @extend .menu__item;
}
.menu-slide__link,
.menu-slide__button {
  @extend .button;

  background: $color-blue;
  width: 100%;
}
.menu-slide__menu {
  
}