.portfolio {
  background: #EEE;
  border: 1px solid #DDD;
}
.portfolio__content {
  background: #FFF;
  border: 1px solid #E7E7E7;
  margin: 2em;
}
.portfolio__demo {
  background: #FFF;
  border: 1px solid #E7E7E7;
  margin: 2em;
}