//  !Browser support
//  ============================================================
//
//  Set for each browser the minimum version supported.
//  If you don't want to support a browser, set its version
//  to false.
//
//  ============================================================

  // !Browser support > desktop

  $plasticss--chromeSupport:          0!default;
  $plasticss--firefoxSupport:         0!default;
  $plasticss--ieSupport:              0!default;
  $plasticss--operaSupport:           0!default;
  $plasticss--safariSupport:          0!default;

  @include browser--set(chrome,   -webkit-,       $plasticss--chromeSupport);
  @include browser--set(firefox,  -moz-,          $plasticss--firefoxSupport);
  @include browser--set(ie,       -ie-,           $plasticss--ieSupport);
  @include browser--set(opera,    -o-,            $plasticss--operaSupport);
  @include browser--set(safari,   -webkit-,       $plasticss--safariSupport);
  

  // !Browser support > handled

  $plasticss--androidSupport:         0!default;
  $plasticss--blackberrySupport:      0!default;
  $plasticss--firefox-mobileSupport:  0!default;
  $plasticss--operaMiniSupport:       0!default;
  $plasticss--operaMobileSupport:     0!default;
  $plasticss--safariIosSupport:       0!default;

  @include browser--set(android,        -webkit-, $plasticss--androidSupport);
  @include browser--set(blackberry,     -webkit-, $plasticss--blackberrySupport);
  @include browser--set(firefox-mobile, -moz-,    $plasticss--firefox-mobileSupport);
  @include browser--set(opera_mini,     -o-,      $plasticss--operaMiniSupport);
  @include browser--set(opera_mobile,   -o-,      $plasticss--operaMobileSupport);
  @include browser--set(safari_ios,     -webkit-, $plasticss--safariIosSupport);

  @import 'vendor/_all';



//  !Breakpoints
//  ============================================================

  //  Use device width if not $config__dev
  $plasticss--mediumMediaWidth:       640px!default;
  $plasticss--normalMediaWidth:       1024px!default;
  $plasticss--useMediaDevice:         true!default;

  @include media--set(
    normal,
    media--min($plasticss--normalMediaWidth, $device: $plasticss--useMediaDevice)
  );

  @include media--set(
    lt-normal lte-medium,
    media--max($plasticss--normalMediaWidth - 1, $device: $plasticss--useMediaDevice)
  );

  @include media--set(
    medium,
    media--between($plasticss--mediumMediaWidth, $plasticss--normalMediaWidth - 1, $device: $plasticss--useMediaDevice)
  );

  @include media--set(
    lt-medium small,
    media--max($plasticss--mediumMediaWidth - 1, $plasticss--useMediaDevice)
  );

  // Retina (picked from: KNACSS by Raphael Goetter - http://knacss.com)
  @include media--set(
    hidpi,
    #{'(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)'}
  );

//  !Paths
//  ============================================================

  $plasticss--imgPath:    '/img/'!default;
  $plasticss--fontPath:   '/bundles/bleuebuzzintegration/'!default;

  @include url--set(img,  $plasticss--imgPath);
  @include url--set(font, $plasticss--fontPath);

