{################################# ACTION DECORATOR #################################}
{% macro actionsTableDecorator(actions, element, renderOptions = false) %}
    <td>
        {% for action in actions %}
            {% set route = '' %}
            {% set params = {} %}
            {% for label, routeParams in action %}
                {% for key, routeParam in routeParams %}
                    {# first param is the route #}
                    {% if key == 0 %}
                        {% set route = routeParam %}
                    {# params array #}
                    {% elseif routeParam is iterable %}
                        {% for paramName, target in routeParam %}
                            {# entity relation params #}
                            {% if attribute(element, paramName) is defined %}
                                {% set entity = attribute(element, paramName) %}
                                {% set params = params|merge({ (paramName) : attribute(entity, target) }) %}
                            {# independant params #}
                            {% else %}
                                {% set params = params|merge({ (paramName) : target }) %}
                            {% endif %}
                        {% endfor %}
                    {# entity property params #}
                    {% else %}
                        {% set params = params|merge({ (routeParam): attribute(element, routeParam) }) %}
                    {% endif %}
                {% endfor %}
            <a href="{{ pathTrans(route, params) }}">{{ label|trans }}</a>
            {% endfor %}
        {% endfor %}
        {% if renderOptions %}
            {% for renderOption in renderOptions %}
                {{ render(renderOption) }}
            {% endfor %}
        {% endif %}
    </td>
{% endmacro %}