{################################# HEADER DECORATOR #################################}
{% macro arrayHeadDecorator(columns, pagination = null, searchForm = null) %}
{% spaceless %}
    <thead>
        <tr>
            {% for column in columns %}
                {% if column is iterable %}
                    {% for key, config in column %}
                        {% if config['label'] is defined %}
                            {% set key = config['label'] %}
                        {% endif %}
                        {% if pagination is not null and config['sortable'] is defined %}
                            {% if pagination.isSorted(config['sortable']) %}
                                <th class="sorted">
                            {% else %}
                                <th>
                            {% endif %}
                            {{ knp_pagination_sortable(pagination, key|trans({}, 'table'), config['sortable']) }}</th>
                        {% else %}
                            <th>{{ key|trans({}, 'table') }}</th>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <th>{{ column|trans({}, 'table') }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% if searchForm is not null %}
            {{ form_start(searchForm) }}
            <tr>
                {% for column in columns %}
                    {% for key, config in column %}
                        <td>
                            {% if config.form is defined %}
                                {% set input = config.form %}
                                {{ form_widget(searchForm[input]) }}
                                {% if searchForm[input].vars.errors|length > 0 %}
                                    {% for error in searchForm[input].vars.errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endfor %}
                <td>
                    <button class="button" type="submit">filtrer</button>
                    <a href="" class="button" type="submit">tout</a>
                </td>
            </tr>
            {{ form_end(searchForm) }}
        {% endif %}
    </thead>
{% endspaceless %}
{% endmacro %}

{################################# RAW DECORATOR #################################}
{% macro arrayRawDecorator(element, columns, actions = false) %}
{% spaceless %}
    <tr>
        {% for column in columns %}
            {% for key, config in column %}
                <td>
                    {% if config.test is defined %}
                        {% set test = _self.cellTest(attribute(element, key), config.test) %}
                    {% endif %}

                    {% if test is defined and test|length > 0 %}
                        {{ test }}
                    {% elseif config.filter is defined %}
                        {{ _self.cellFilter(attribute(element, key), config.filter) }}
                    {% else %}
                        {{ attribute(element, key) }}
                    {% endif %}
                </td>
            {% endfor %}
        {% endfor %}

        {% if actions %}
            {{ actions }}
        {% endif %}
    </tr>
{% endspaceless %}
{% endmacro %}

{############ CELL TEST############}
{% macro cellTest(value, test) %}
{% spaceless %}
    {% if test.isNull is defined and value is null %}
        {{ test.isNull|trans({}, 'table') }}
    {% endif %}
    {% if test == 'isActive' %}
        {% if value %}
            {{ 'active'|trans({}, 'table') }}
        {% else %}
            {{ 'inactive'|trans({}, 'table') }}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{############ CELL FILTER############}
{% macro cellFilter(value, filter) %}
{% spaceless %}
    {% if filter == 'date' %}
        {{ value|date('d-m-Y') }}
    {% endif %}
    {% if filter == 'datetime' %}
        {{ value|date('d-m-Y H:m:s') }}
    {% endif %}
    {% if filter == 'table' %}
        {% for el in value %}
            {{ el }}{% if not loop.last %},{% endif %}
        {% endfor %}
    {% endif %}
    {% if filter is iterable %}
        {% for filt in filter %}
            {{ _self.arrayFilter(value, filt) }}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endmacro %}
