@import 'outsight';

@if needed('module/button') {

  /* module/button */
  %button--base {
    @include -box-sizing(border-box);
    @include -display(inline-block);
    background: none;
    border: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    font-size: 1em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
  }
  %button--base:focus {
    outline: 1px dotted;
  }

  .button {
    @extend %button--base;

    &.\--block {
      display: block;
      width: 100%;
    }
  }
  
  // Hide label by media (and smaller)
  @include media(lt-normal) {
    .button__label.\--medium-hide {
      @include outsight;
    }
  }
  
  @include media(lt-medium) {
    .button__label.\--small-hide {
      @include outsight;
    }
  }
  /* end module/button */

}