// TODO: add gutter classes to media queries

  /* module/grid */
  $grid-length:       12!default;
  $grid-width:        100%!default;
  $grid-gutter:       8px!default;
  $grid-gutter-auto:  false!default;
  $grid-unit:         $grid-width / $grid-length!default;

@if needed('module/grid') {
  .grid {
    display: block;
  }
  .grid__cell {
    @include -box-sizing(border-box);
    display: inline-block;
    vertical-align: top;
    width: $grid-unit;

    @if $grid-gutter > 0 {
      @if $grid-gutter-auto {
        padding: 0 $grid-gutter;
        &.\--no-gutter {
          padding: 0;
        }
      }
      @else {
        &.\--gutter {
          padding: 0;
        }
      }
      &.\--gutter-before {
        padding: 0 0 0 $grid-gutter;
      }
      &.\--gutter-after {
        padding: 0 $grid-gutter 0 0;
      }
      
    }
  }
  
  // All media Jump and span
  @for $i from 1 through $grid-length - 1 {
    .grid__cell.\--jump-#{$i} {
      margin-left: $grid-unit;
    }
    .grid__cell.\--span-#{$i + 1} {
      width: $grid-unit * ($i + 1);
    }
  }
  
  // Medium media Jump and span
  @include media(lt-normal) {
    @for $i from 1 through $grid-length - 1 {
      .grid__cell.\--medium-jump-#{$i} {
        margin-left: $grid-unit;
      }
      .grid__cell.\--medium-span-#{$i + 1} {
        width: $grid-unit * ($i + 1);
      }
    }
  }
  
  // Small media Jump and span
  @include media(lt-medium) {
    @for $i from 1 through $grid-length - 1 {
      .grid__cell.\--small-jump-#{$i} {
        margin-left: $grid-unit;
      }
      .grid__cell.\--small-span-#{$i + 1} {
        width: $grid-unit * ($i + 1);
      }
    }
  }
  /* end module/button */

}