@if needed('module/icon') {

  @include font-face($font-face--icon...);

  %icon--base {
    font-family: $font-family--icon;
    -webkit-font-smoothing: antialiased;
  }

  [data-icon]:before {
    @extend %icon--base;
    content: ' ' attr(data-icon) ' ';
  }
  [data-icon-before]:before {
    @extend %icon--base;
    content: ' ' attr(data-icon-before) ' ';
  }
  [data-icon-after]:after {
    @extend %icon--base;
    content: ' ' attr(data-icon-after) ' ';
  }

}