@import 'outsight';

@if needed('module/input') {

  /* module/input */
  %input--base {
    @include -box-sizing(border-box);
    @include -display(inline-block);
    background: none;
    border: 1px solid transparent;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
  %input--base:focus {
    outline: 1px dotted;
  }

  .input {
    @extend %input--base;

    &.\--block {
      display: block;
      width: 100%;
    }
  }
  /* end module/input */

}