@if needed('module/media') {

  .media {
    display: table;
    width: 100%;
  }
  
  .media__before {
    display: block;
    float: left;
  }
  
  .media__body {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }

}