<ul id="language">
{% for language in availableLanguages %}
<li>
{% if app.request.locale == language %}
    {{ language }}
{% else %}
    <a href="{{ referer }}?language={{ language }}">{{ language }}</a>
{% endif %}
</li>
{% endfor %}
</ul>