{% if breadcrumbLinks is not empty %}
<ul id="breadcrumb">
    {% for link in breadcrumbLinks %}
        <li {% if not loop.first %}data-icon-before="&#xF061;"{% endif %} style="display:inline-block;">
            {% if link.route %}
                <a href="{{ link.route }}">{{ link.label }}</a>
            {% else %}
                {% trans %}link.label{% endtrans %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}