<nav>
    {% if nav is not empty %}
    <ul id="navigation">
    {% for route, config in nav %}
        <li>
            {% if config.isActive %}
            {{ route|trans({}, 'button&link') }}
            {% else %}
            <a href="{{ config.link }}">{{ route|trans({}, 'button&link') }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if actions is not empty %}
    <ul id="actions">
    {% for route, config in actions %}
        <li>
            {% if config.isActive %}
            {{ route|trans({}, 'button&link') }}
            {% else %}
            <a href="{{ config.link }}">{% if config.label is defined %}{{ config.label|trans({}, 'button&link') }}{% else %}{{ route|trans({}, 'button&link') }}{% endif %}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</nav>