// 1. Define the minimum supported version for each browsers
// 2. All browsers without minimum version are fully supported
// 3. Browsers with minimum version set to false are not supported
//
// If a browser isn't supported, no extra css will be used to make
// it act as regular.


// !Public -----------------------------------------------------

// Set the minimum supported version of a browser
//
// @param string  $browser browser name
// @param number* $minimum minimum supported version
//
@mixin browser--set($browser, $prefix: false, $minimum: 0,

  // Scope
  $key: null
) {
  // Search for browser 
  $key:   index($plasticss__helper__browser__browsers, $browser);

  // Already defined browser
  @if $key != false {
    @warn 'You should avoid resetting browser ("#{$browser}").';
  }

  // (Re)set browser
  $plasticss__helper__browser__browsers: prepend($plasticss__helper__browser__browsers, $browser, comma);
  $plasticss__helper__browser__minimums: prepend($plasticss__helper__browser__minimums, $minimum, comma);
  $plasticss__helper__browser__prefixes: prepend($plasticss__helper__browser__prefixes, $prefix,  comma);

  // Record change
  $plasticss__helper__browser__changes: $plasticss__helper__browser__changes + 1;
}

// Return the minimum supported version of a browser
// If browser is not supported, false is returned.
//
// @param string  $browser browser name
//
// @return list
//
@function browser--min($browser,

  // Scope
  $key: null
) {
  $key: index($plasticss__helper__browser__browsers, $browser);
  @if $key != false {
    @return nth($plasticss__helper__browser__minimums, $key);
  }
  @return 0;
}

// Return the vendor prefix of a browser
// If no prefix set, false is returned.
//
// @param string  $browser browser name
//
// @return string
//
@function browser--prefix($browser,

  // Scope
  $key: null
) {
  $key: index($plasticss__helper__browser__browsers, $browser);
  @if $key != false {
    @return nth($plasticss__helper__browser__prefixes, $key);
  }
  @return false;
}

// Check if browser minimum version is 
// lower than the provided version
//
// @param list $browser browser name
// @param list $version version to test
//
// @return bool
//
@function browser--lt($browser, $version) {
  // Get oldest
  $minimum: browser--min($browser);
  @return browser--compare-versions($minimum, $version) < 0;
}


// Check if browser minimum version is 
// lower than or equal the provided version
//
// @param list $browser browser name
// @param list $version version to test
//
// @return bool
//
@function browser--lte($browser, $version,

  // Scope
  $minimum: null
) {
  // Get oldest
  $minimum: browser--min($browser);

  @return browser--compare-versions($minimum, $version) <= 0;
}

// Compare versions $a from $b
//
// @param list $a
// @param list $b
//
// @return bool
//
@function browser--compare-versions($a, $b,

  // Scope
  $i: null,
  $aLength: null,
  $bLength: null,
  $length: null,
  $aPart: null,
  $bPart: null
) {
  // Browser not supported
  @if not nth($a, 1) {
    @return 1;
  }

  // No version defined
  @else if not nth($b, 1) {
    @return -1;
  }

  $aLength: length($a);
  $bLength: length($b);
  $length:  min($aLength, $bLength);

  // Part difference
  @for $i from 1 through $length {
    $aPart: nth($a, $i);
    $bPart: nth($b, $i);

    @if $aPart < $bPart {
      @return -1;
    }
    @else if $aPart > $bPart {
      @return 1;
    }
  }

  // Length difference
  @if $aLength != $bLength {
    @return ($aLength - $bLength) / abs($aLength - $bLength);
  }

  // Same version
  @return 0;
  
}

// Return last change ID
//
// @return number
@function browser--last-change() {
  @return $plasticss__helper__browser__changes;
}


// !Private ----------------------------------------------------

$plasticss__helper__browser__browsers: ()!default;
$plasticss__helper__browser__minimums: ()!default;
$plasticss__helper__browser__prefixes: ()!default;
$plasticss__helper__browser__changes:  0!default;