@mixin flow(
  $font-size:   $plasticss__helper__flow--font-size,
  $margin:      $plasticss__helper__flow--margin,
  $head:        true
) {
  @include flow--font-size($font-size);
  @include flow--line-height($font-size);
  @include flow--margin($font-size, $margin, $head);
}

// Set font-size property
@mixin flow--font-size(
  $font-size: $plasticss__helper__flow--font-size,
  $unit:      $plasticss__helper__flow--font-unit
) {
  @include rem(font-size, flow--font-size($font-size, $unit));
}

// Set line-height
@mixin flow--line-height(
  $font-size: $plasticss__helper__flow--font-size,
  $unit: $plasticss__helper__flow--line-unit
) {
  @include rem(line-height, flow--line-height($font-size, $unit));
}

// Set margin
@mixin flow--margin(
  $font-size:   $plasticss__helper__flow--font-size,

  // Margin type [bottom, top, both, middle]
  $margin:      $plasticss__helper__flow--margin,

  // If false, margin both == middle
  $head:        true,

  $unit:        $plasticss__helper__flow--font-unit,

  // Scope
  $base-line: null
) {

  // 1 line height
  $base-line:   flow--height($plasticss__helper__flow--line-height, $font-size, $unit);
  @if $margin == bottom {
    @include rem(margin-bottom,  $base-line);
  }
  @else if $margin == top {
    @include rem(margin-top,     $base-line);
  }
  @else if $margin == both and $head {
    @include rem(margin-top,     2 * $base-line);
    @include rem(margin-bottom,  $base-line);
  }
  @else if $margin == middle or $margin == both {
    @include rem(margin-top margin-bottom,     $base-line);
  }
}

@mixin flow--ease($min, $max, $length: 6, $ease: linear) {
  
}

// Define flow property
@mixin flow--set(
  $font-size:   $plasticss__helper__flow--font-size,
  $line-height: $plasticss__helper__flow--line-height,
  $margin:      $plasticss__helper__flow--margin,
  $font-unit:   $plasticss__helper__flow--font-unit,
  $line-unit:   $plasticss__helper__flow--line-unit,
  $rem-size:    $plasticss__helper__rem--size
) {
  $plasticss__helper__flow--font-size:    $font-size;
  $plasticss__helper__flow--line-height:  $line-height;
  $plasticss__helper__flow--margin:       $margin;
  $plasticss__helper__flow--font-unit:    $font-unit;
  $plasticss__helper__flow--line-unit:    $line-unit;
  $plasticss__helper__rem--size:     $rem-size;
}

// Return the html font-size
@function flow--html() {
  @return 100% / 16 * $plasticss__helper__rem--size;
}

// Return the body font-size
@function flow--body() {
  @return $plasticss__helper__flow--font-size / $plasticss__helper__rem--size + em;
}

@function flow--line-height(
  $font-size: $plasticss__helper__flow--font-size,
  $unit: $plasticss__helper__flow--line-unit
) {
  @return flow--height(
    // Get absolute line-height with coef
    $plasticss__helper__flow--line-height * ceil(1 / ($plasticss__helper__flow--line-height / ($font-size / ($font-size * 0 + 1)))),
    $font-size,
    $unit
  );
}

@function flow--font-size(
  $font-size: $plasticss__helper__flow--font-size,
  $unit: $plasticss__helper__flow--font-unit
) {
  @return flow--height(
    // Get absolute line-height with coef
    $font-size,
    $plasticss__helper__flow--font-size,
    $unit
  );
}

@function flow--height(
  $height:    $plasticss__helper__flow--line-height,
  $font-size: $plasticss__helper__flow--font-size,
  $unit:      $plasticss__helper__flow--font-unit
) {
  // Adapt to unit
  @if $unit == rem {
    $height: rem--from_px($height);
  }
  @else if $unit == em {
    $height: 1em * $height / $font-size;
  }
  @else if $unit == px {
    $height: 1px * $height;
  }
  @else if $unit == none {
    $height: $height / $font-size;
  }

  @return $height;
}

$plasticss__helper__flow--font-size:    16;
$plasticss__helper__flow--font-unit:    rem;
$plasticss__helper__flow--line-height:  16 * 1.5;
$plasticss__helper__flow--line-unit:    none;
$plasticss__helper__flow--margin:       bottom;