// Declare font-face
//
// The usage of list as font-face package
// is recommended:
// <code>
//   @include font-face($font-package...);
// </code>
//
// @param string $family family name
// @param string $file   filename without extension
// @param string $idSvg  svg id
// @param mixed  $weight font-weight
// @param string $style  font-style
// @param string $param  parameters to add to filenames
// @return number
@mixin font-face($family, $file: $family, $idSvg: $family, $weight: normal, $style: normal, $param: null,

  // Scope
  $key: null,
  $ieParam: null
) {
  $key: index($plasticss__helper__font-face--families, $family);

  @if $key != false {
    $family:  nth($plasticss__helper__font-face--families,  $key);
    $file:    nth($plasticss__helper__font-face--files,     $key);
    $idSvg:   nth($plasticss__helper__font-face--idSvgs,    $key);
    $weight:  nth($plasticss__helper__font-face--weights,   $key);
    $style:   nth($plasticss__helper__font-face--style,     $key);
    $param:   nth($plasticss__helper__font-face--param,     $key);
  }

  $ieParam: $param;
  @if type-of($param) == string and $param != '' {
    $param: '?' + $param;
  }
  @font-face {
    font-family: $family;
    src: url(font, '#{$file}.eot#{$param}');
    src: url(font, '#{$file}.eot?#{$ieParam}#iefix') format('embedded-opentype'),
         url(font, '#{$file}.woff#{$param}') format('woff'),
         url(font, '#{$file}.ttf#{$param}') format('truetype'),
         url(font, '#{$file}.svg#{$param}##{$idSvg}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-face--set($family, $file, $idSvg, $weight: normal, $style: normal, $param: null) {
  $plasticss__helper__font-face--families:  prepend($plasticss__helper__font-face--families,  $family,  comma);
  $plasticss__helper__font-face--files:     prepend($plasticss__helper__font-face--files,     $file,    comma);
  $plasticss__helper__font-face--idSvgs:    prepend($plasticss__helper__font-face--idSvgs,    $idSvg,   comma);
  $plasticss__helper__font-face--weights:   prepend($plasticss__helper__font-face--weights,   $weight,  comma);
  $plasticss__helper__font-face--style:     prepend($plasticss__helper__font-face--style,     $style,   comma);
  $plasticss__helper__font-face--param:     prepend($plasticss__helper__font-face--param,     $param,   comma);
}


// !Private ----------------------------------------------------

$plasticss__helper__font-face--families:  ();
$plasticss__helper__font-face--files:     ();
$plasticss__helper__font-face--idSvgs:    ();
$plasticss__helper__font-face--weights:   ();
$plasticss__helper__font-face--style:     ();
$plasticss__helper__font-face--param:     ();