@mixin media($query) {
  $query: media--get($query);
  $plasticss__helper__media__opened: true;
  @media #{$query} { @content }
  $plasticss__helper__media__opened: false;
}

// TODO: scope vars
@mixin media--set($names, $query...) {
  @each $name in $names {
    // Search for query
    $key:   index($plasticss__helper__media__names, $name);

    // Already defined query
    @if $key != false {
      @warn 'You should avoid resetting media query ("#{$names}").';
    }

    // (Re)set query
    $plasticss__helper__media__names:    prepend($plasticss__helper__media__names, $name, comma);
    $plasticss__helper__media__queries:  prepend($plasticss__helper__media__queries, "#{$query}", comma);
  }
}

@function media--get($name,

  // Scope
  $key: null
) {
  // Search for browser 
  $key:   index($plasticss__helper__media__names, $name);

  @if not $key {
    @return $name;
  }

  @return nth($plasticss__helper__media__queries, $key);
}

@function media--between($min: 0, $max: 0, $type: width, $device: true, $em: true) {
  $device:  if($device, -device, null);
  $min:     media--size($min, $em);
  $max:     media--size($max, $em);

  @return #{'(min#{$device}-#{$type}: #{$min}) and (max#{$device}-#{$type}: #{$max})'};
}

@function media--max($max: 0, $device: true, $type: width, $em: true) {
  $device:  if($device, -device, null);
  $max:     media--size($max, $em);

  @return #{'(max#{$device}-#{$type}: #{$max})'};
}

@function media--min($min: 0, $device: true, $type: width, $em: true) {
  $device:  if($device, -device, null);
  $min:     media--size($min, $em);

  @return #{'(min#{$device}-#{$type}: #{$min})'};
}

@function media--size($size, $em: true) {
  @if $em {
    $size: 1em * $size / ($size * 0 + 1) / 16;
  }
  @return $size;
}

@function media--is_opened() {
  @return $plasticss__helper__media__opened;
}

$plasticss__helper__media__names:   ()!default;
$plasticss__helper__media__queries: ()!default;
$plasticss__helper__media__opened:  false!default;