// TODO: scope vars
@mixin rem($properties, $rem...) {
  $px:    ();
  $found: false;

  @each $values in $rem {
    $px-values: ();
    @each $value in $values {
      // Rem value found
      @if type-of($value) == number and unit($value) == rem {
        $value: rem-to_px($value);
        $found: true;
      }
      $px-values: append($px-values, $value, space);
    }
    $px: append($px, $px-values, comma);
  }

  @each $property in $properties {
    @if $found {
      #{$property}: $px;
    }
    #{$property}: $rem;
  }
}

@function rem--to_px($value) {
  @return 1px * $value / ($value * 0 + 1) * $plasticss__helper__rem--size;
}

@function rem--from_px($value) {
  @return 1rem * $value / ($value * 0 + 1) / $plasticss__helper__rem--size;
}

$plasticss__helper__rem--size: 10!default;