// !Public -----------------------------------------------------

@function url($type, $filename: false) {
  $filename: url--get($type, $filename);
  @return #{'url(\'#{$filename}\')'};
}

@function url--type-path($type,

  // Scope
  $key: null
) {
  $key: index($plasticss__helper__url--types, $type);

  @if not $key {
    @warn 'Undefined url type "#{$type}".';
    @return $plasticss__helper__url--default-path;
  }
  @return nth($plasticss__helper__url--paths, $key);
}

@function url--get($type, $filename, $path: $plasticss__helper__url--default-path) {
  @if not $filename {
    $filename: $type;
  }
  @else {
    $path: url--type-path($type);
  }

  @return #{$path}#{$filename};
}

@mixin url--set($type, $path,

  // Scope
  $key: null
) {
  // Search for url
  $key:   index($plasticss__helper__url--types, $type);

  // Already defined type
  @if $key != false {
    @warn 'You should avoid resetting url type ("#{$type}").';
  }

  // (Re)set url
  $plasticss__helper__url--types: prepend($plasticss__helper__url--types, $type, comma);
  $plasticss__helper__url--paths: prepend($plasticss__helper__url--paths, $path, comma);
}

@mixin url--default($path) {
  $plasticss__helper__url--default-path: $path;
}

// !Private ----------------------------------------------------

// !Variables
$plasticss__helper__url--types:           ();
$plasticss__helper__url--paths:           ();
$plasticss__helper__url--default-path:    null;