// !Public -----------------------------------------------------

@mixin vendor($property, $value: null, $std: true, $name: $property, $alias: '&&' $name) {
  @include vendor--property_refresh($property);
  $index: index($plasticss__helper__vendor--properties, $property);
  $_type: nth($plasticss__helper__vendor--types, $index);

  // Selector prefix
  @if $_type == selector {
    @if $index != false {
      $prefixes: nth($plasticss__helper__vendor--prefixes, $index);
      @each $prefix in $prefixes {
        @if $plasticss__helper__vendor--current-prefix == false
         or $plasticss__helper__vendor--current-prefix == $prefix 
        {
          // Limit nested vendor to current prefix
          $old-prefix: $plasticss__helper__vendor--current-prefix;
          $plasticss__helper__vendor--current-prefix: $prefix;

          $prefix: vendor--prefix_property($prefix, $alias);
          #{$prefix} {
            @content;
          }

          // Reset limit
          $plasticss__helper__vendor--current-prefix: $old-prefix;
        }
      }
    }

    @if $std {
      #{$name} {
        @content;
      }
    }
  }

  // Value prefix
  @else if $_type == value {
    @if $index != false {
      $prefixes: nth($plasticss__helper__vendor--prefixes, $index);
      @each $prefix in $prefixes {
        @if $plasticss__helper__vendor--current-prefix == false
         or $plasticss__helper__vendor--current-prefix == $prefix 
        {
          @include rem(#{$name}, $prefix#{$value});
        }
      }
    }

    @if $std {
      @include rem(#{$name}, $value);
    }
  }

  // Property prefix
  @else {
    @if $index != false {
      $prefixes: nth($plasticss__helper__vendor--prefixes, $index);
      @each $prefix in $prefixes {
        @if $plasticss__helper__vendor--current-prefix == false
         or $plasticss__helper__vendor--current-prefix == $prefix 
        {
          $prefix: vendor--prefix_property($prefix, $alias);
          @include rem(#{$prefix}, $value);
        }
      }
    }

    @if $std {
      @include rem(#{$name}, $value);
    }
  }
}

@mixin vendor--set($property, $target, $type: property) {
  // Search for vendor 
  $key:      index($plasticss__helper__vendor--properties, $property);

  // Already defined vendor
  @if $key != false {
    @warn 'You should avoid resetting vendor ("#{$property}").';
  }

  // (Re)set vendor
 $property: vendor--property_set($property, $target,  $type, false, false);
}

@function vendor--getPrefixes($property, $prefixes: null) {
  $prefixes: vendor--property_refresh($property);
  $prefixes: null;
  $index: index($plasticss__helper__vendor--properties, $property);

  // Selector prefix
  @if $index != false {
    $prefixes: nth($plasticss__helper__vendor--prefixes, $index);
  }
  @return $prefixes;
}

// !Private ----------------------------------------------------

// !Functions & mixins
@function vendor--property_set($property, $target, $type, $prefix, $change) {
  $plasticss__helper__vendor--properties: prepend($plasticss__helper__vendor--properties,  $property, comma);
  $plasticss__helper__vendor--types:      prepend($plasticss__helper__vendor--types,       $type,     comma);
  $plasticss__helper__vendor--targets:    prepend($plasticss__helper__vendor--targets,     $target,   comma);
  $plasticss__helper__vendor--prefixes:   prepend($plasticss__helper__vendor--prefixes,    $prefix,  comma);
  $plasticss__helper__vendor--changes:    prepend($plasticss__helper__vendor--changes,     $change,   comma);
  @return null;
}

@mixin vendor--property_refresh($property) {
  $property: vendor--property_refresh($property);
}

@function vendor--property_refresh($property) {
  $index: index($plasticss__helper__vendor--properties, $property);

  @if $index != false {
    // Find support change
    $change: nth($plasticss__helper__vendor--changes, $index);
    @if $change != browser--last-change() {
  
      // Refresh
      $target: nth($plasticss__helper__vendor--targets,  $index);
      $property: vendor--property_set(
        nth($plasticss__helper__vendor--properties, $index),
        $target,
        nth($plasticss__helper__vendor--types,      $index),
        vendor--target_prefix($target),
        $change
      );
    }
  }
  @return null;
}

@function vendor--target_prefix($target) {
  $prefixes: ();

  $prefix:  false;
  $browser: false;
  $limit:   false;

  @each $t in $target {

    // New browser targeted
    @if type-of($t) == string {

      // Previous browser exists
      $prefixes: vendor--append_prefix($prefixes, $browser, $limit);
      $browser: $t;
      $limit: false;
    }

    // Browser version part
    @else if not $limit {
      $limit: $t;
    }
    @else {
      $limit: append($limit, $t, space);
    }
  }
  $prefixes: vendor--append_prefix($prefixes, $browser, $limit);

  @return $prefixes;

}

@function vendor--append_prefix($prefixes, $browser, $limit) {
  $prefix: browser--prefix($browser);

  // Prefix already in the list
  @if $prefix != false
  and not index($prefixes, $prefix)
  and browser--lt($browser, $limit) {
    $prefixes: append($prefixes, $prefix);
  }

  @return $prefixes;
}

@function vendor--prefix_property($prefix, $names) {
  $fullname: '';
  @each $name in $names {
    @if $name == '&&' {
      $fullname: #{$fullname}#{$prefix};
    }
    @else {
      $fullname: #{$fullname}#{$name};
    }
  }
  @return $fullname;
}

// !Variables
$plasticss__helper__vendor--properties: ();
$plasticss__helper__vendor--types:      ();
$plasticss__helper__vendor--targets:    ();
$plasticss__helper__vendor--prefixes:   ();
$plasticss__helper__vendor--changes:    ();
$plasticss__helper__vendor--current-prefix: false;