// TRUE if $value is a number with angle unit
@function is-angle($value) {
  @return is-number($value) and false != index(deg grad rad turn, unit($value));
}

@function is-bool($value) {
  @return type-of($value) == bool;
}

@function is-color($value) {
  @return type-of($value) == color;
}

// TRUE if $value is a number with distance unit
@function is-distance($value) {
  @return is-number($value) and false != index(em ex ch rem vw vh vmin vmax cm mm in pt pc px, unit($value));
}

@function is-null($value) {
  @return type-of($value) == null;
}

@function is-number($value) {
  @return type-of($value) == number;
}

@function is-percent($value) {
  @return type-of($value) == number and unit($value) == '%';
}

@function is-string($value) {
  @return type-of($value) == string;
}

@function is-relevant($value, $ignore...) {
  @if length($value) == 0 or $value == false or $value == null {
    @return false;
  }

  @each $ignored in $ignore {
    @if $value == $ignored
    or  is-color($value) and is-color($ignored) and is-same-color($value, $ignored) {
      @return false
    }
  }

  @return true;
}

@function is-same-color($a, $b, $alpha: true) {
  @if $alpha and alpha($a) != alpha($b) {
    @return false;
  }

  @return rgb(red($a), green($a), blue($a)) == rgb(red($b), green($b), blue($b));
}