@function prepend($list, $element, $separator: auto) {
  @return join(append((), $element, $separator), $list, $separator);
}

@function implode($list, $glue: ',', $string: null, $k: null, $v: null) {
  $string: '';
  @for $k from 1 through length($list) {
    @if $k > 1 {
      $string: $string + $glue + nth($list, $k);
    }
    @else {
      $string: $string + nth($list, $k);
    }
  }
  @return $string;
}