@function relevant($value, $ignore...) {
  @if length($value) == 0 or $value == false or $value == null {
    @return false;
  }

  @each $ignored in $ignore {
    @if $value == $ignored
    or  type-of($value) == color and type-of($ignored) == color and same-color($value, $ignored) {
      @return false
    }
  }

  @return true;
}