// !Settings ---------------------------------------------------

  $global--color:               #333!default;
  $global--font_family:         $font-family--sans_serif!default;
  $global--font_size:           16!default;
  $global--line_height:         $global--font_size * 1.5!default;
  $global--monospace:           $font-family--monospace!default;
  $global--flow:                middle!default;
  
  $global__head--color:         $global--color!default;
  $global__head--font_family:   $global--font_family!default;

  @include flow--set(
    $font-size:   $global--font_size,
    $line-height: $global--line_height,
    $margin:      $global--flow
  );



@if needed('global/main') {

// !Styles -----------------------------------------------------

  // !Document
  html, body {
    margin: 0;
    padding: 0;
  }
  html { font-size: flow--html() }
  body {
    // set color if not black
    @if relevant($global--color, #000) {
      color: $global--color;
    }
    font: flow--body()/flow--line-height() $global--font_family;

    // Force vertical scroll bar
    @include scroll(y);
  }

  // !Current text
  %global--flow, p, ul, ol, dl, blockquote, pre, textarea {
    @include flow($head: false);
  }
  pre, code {
    font-family: $global--monospace;
  }

  // !Heads
  %global--head, h1, h2, h3, h4, h5, h6 {
    @if relevant($global__head--color, $global--color) { color: $global__head--color }
    @if relevant($global__head--font_family, $global--font_family) { font-family: $global__head--font_family }
  }
  h1 { @include flow(26) }
  h2 { @include flow(24) }
  h3 { @include flow(22) }
  h4 { @include flow(20) }
  h5 { @include flow(18) }
  h6 { @include flow(16) }

}