@if needed('global/reset') {

  abbr[title], acronym[title] {
    cursor: help;
    border-bottom: dotted 1px;
  }
  .vcard abbr {
    cursor: text;
    border-bottom: none;
  }
  
  // !Images
  a img { border: none }
  
  // !Forms
  label {
    cursor: text;
    @if browser--lt(ie, 7) {
      -cursor: default;
    }
  };
  label[for] { cursor: pointer }
  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input {
    height: auto;
    max-width: 100%;
  }

}