{% extends 'form_div_layout.html.twig' %}

{% block button_widget %}
{% spaceless %}
    {% if type == 'submit' %}
        {% set attr = {'class':'button'} %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock button_widget %}

{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="Ce champ est obligatoire">*</span>
    {% endif %}
{% endblock %}